<form [formGroup]="form" (ngSubmit)="onSubmit()" class="recipe-form">
    <h2>Create Recipe</h2>
    <div class="form-section">
      <label>Title: <input formControlName="title" class="input-field" /></label>
      <label>Category:
        <select formControlName="category" class="input-field">
            <option value="" disabled selected>Choose a category</option>
          <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
        </select>
      </label>
      <label>Description: <input formControlName="description" class="input-field" /></label>
      <label>Preparation Time: <input formControlName="prepTime" type="number" class="input-field" /></label>
      <label>Cooking Time: <input formControlName="cookTime" type="number" class="input-field" /></label>
      <label>Servings: <input formControlName="servings" type="number" class="input-field" /></label>
      <label>Rating: <input formControlName="rating" type="number" class="input-field" /></label>
    </div>
    
    <div formArrayName="ingredients" class="form-array-container">
        <div class="ingredient-labels">
          <label class="ingredient-label">Name:</label>
          <label class="ingredient-label">Amount:</label>
          <label class="ingredient-label">Unit:</label>
        </div>
        <div *ngFor="let ingredient of ingredients.controls; let i = index" class="ingredient-row">
          <div [formGroupName]="i" class="ingredient-group">
            <input formControlName="name" class="ingredient-input" />
            <input formControlName="amount" type="number" class="ingredient-input" />
            <input formControlName="unit" class="ingredient-input" />
          </div>
        </div>
        <div class="buttons">
          <button type="button" (click)="addIngredients()" class="fas fa-plus"></button>
          <button type="button" (click)="removeIngredients()" class="fas fa-minus"></button>
        </div>
      </div>
      
    
    <div formArrayName="instructions" class="form-array-container">
  <div class="instruction-labels">
    <label class="instruction-label">Instructions:</label>
  </div>
  <div *ngFor="let instruction of instructions.controls; let i = index" class="instruction-row">
    <div [formGroupName]="i" class="instruction-group">
      <input formControlName="text" class="instruction-input" />
    </div>
  </div>
  <div class="buttons">
    <button type="button" (click)="addInstruction()" class="fas fa-plus"></button>
    <button type="button" (click)="removeLastInstruction()" class="fas fa-minus"></button>
  </div>
</div>


    <div class="buttons-exit">
        <button type="reset" class="cancel-button">Cancel</button>
        <button type="submit" class="confirm-button">Confirm</button>
      </div>
  </form>
  