.shopping-list {

  padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--color-primary);
  }
  
  .shopping-list h2 {
    margin-bottom: 10px;
  }
  
  .shopping-list p {
    margin-bottom: 10px;
  }
  
  .shopping-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .shopping-list li {
    margin-bottom: 5px;
  }
  