<div class="create-recipe-container">
    <form class="create-recipe-form" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <h3>Create a new Recipe</h3>

        <div class="form-group">
            <label>Title:</label>
            <input required type="text" class="form-control" placeholder="Enter Recipe Title" id="Recipe-Title">
        </div>

        <div class="form-group">
            <label for="Recipe-Category">Category:</label>
            <select class="form-control" id="Recipe-Category" formControlName="recipeCategory" required>
                <option value="" disabled>Select a category</option> <!-- Placeholder option -->
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>


        <div class="form-group">
            <label>Description:</label>
            <textarea required class="form-control" rows="5" id="Recipe-Description"
                placeholder="Enter Recipe Description"></textarea>
        </div>

        <div class="form-group">
            <label>Preparation Time:</label>
            <input required type="number" placeholder="Time In Minutes" id="Recipe-Preparation-Time"
                class="form-control">
        </div>

        <div class="form-group">
            <label>Cooking Time:</label>
            <input required type="number" placeholder="Time In Minutes" id="Recipe-Cooking-Time" class="form-control">
        </div>

        <div class="form-group">
            <label>Servings:</label>
            <input required type="number" placeholder="Number of Servings" id="Recipe-Servings" class="form-control">
        </div>

        <div class="form-group">
            <label>Rating:</label>
            <input required type="number" placeholder="Rating - 1 to 5" id="Recipe-Rating" class="form-control">
        </div>

        <div class="form-group">
            <label>ingredients:</label>
            <div class="ingredient-container">
                <div class="ingredient-extra" *ngIf="ingredientAmount >= 1">
                    <div class="ingredient" *ngFor="let i of counter(ingredientAmount); let index = index">
                        <div class="ingredient">
                            <input required type="text" placeholder="Ingredient Name" class="form-control Ingredient">
                            <input required type="number" placeholder="Amount" class="form-control Amount">
                            <input required type="text" placeholder="Unit of Measurement" class="form-control Unit">
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button class="delete-ingredient btn" (click)="decrementIngredientAmount()">-</button>
                    <button class="add-ingredient btn" (click)="incrementIngredientAmount()">+</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Instructions:</label>
            <div class="instructions-container">
                <div *ngFor="let index of counter(instructionAmount); let i = index" class="instruction">
                    <div class="instruction-extra-extra">
                        <input required type="text" placeholder="Instruction" class="form-control intruction-input">
                    </div>
                </div>
                <div class="button-container">
                    <button class="delete-instruction btn" (click)="decrementInstructionAmount()">-</button>
                    <button class="add-instruction btn" (click)="incrementInstructionAmount()">+</button>
                </div>
            </div>
        </div>


        <div class="button-container-form">
            <button class="btn btn-success" type="submit">Confirm</button>
            <button class="btn btn-danger">Cancel</button>
        </div>




    </form>
</div>